<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/about.css' %}">
</head>

<body>
    <!-- THIS IS NAVIGATION BAR !-->
    <div class="topnav">
        <a class="active" href="{% url 'smg:index' %}">Home</a>
        <a href="https://github.com/Chonlasit666/cn331projectSpotgame" target="_blank">Github</a>
        <a href="https://www.pivotaltracker.com/n/projects/2536429" target="_blank">Feature</a>
        <a href="{% url 'smg:aboutme' %} ">About</a>
        <a href="{% url 'users:logout' %}" , style="float: right;">Logout</a>
    </div>
    <!-- END OF NAVIGATION BAR !-->
    <br>
    <h2> About us </h2>
    <br>
    <div class="SMQ">
        <h2>What is <span class="SMQhead">Spotify Music Quiz</span>?</h2>
        <p> spotify music quiz is the game that's let everyone who love music and want to challenge, in this game
            will let you
            asking yourself that you can remember the song's name by collecting the score to measure your memory.
        </p>
    </div>
    <br>
    <div class="spotgame">
        <h2>What is <span class="sptgamecss">Spotgame</span>?</h2>
        <p>Spotgame is the team that form by four college students. We(spotgame) are college students that keen to
            try something new,
            something that challenge our knowledge to the limit, with high potential we are going to make this game
            happen no matter how hard it is</p>
    </div>
    <br> <br>
    <h2>So let us introduce ourselves</h2>

    <img src="{%static 'login/images/icons/spotify-logo.png' %}", style="text-align: center;" alt="spotify logo" class="center">
</body>

</html>