{% extends "spotifymusicgame/layout.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href ="{% static 'css/loginstyle.css' %}">
        <form action="{% url 'smg:login' %}" method="post" >
            {% csrf_token %}
            <div class="form">
                <div class = "message">
                    {% if message %}
                        <p1>{{ message }}</p1>
                    {% else %}
                        <p2> Please, Login </p2>
                    {% endif %}
                </div>
                <div class="username">
                    <p>Email</p>
                    <input type="text" name= "username" placeholder="Username">
                </div>
                <div class="password">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="loginbutton">
                    <input type="submit" value="Login">
                </div>
            </div>
        </form>     
{% endblock %}