<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Chat Room</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/split.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/pop-up.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/navbar.css' %}">
    <link rel="icon" type="image/png" href="{%static 'login/images/icons/spotify-logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'login/css/main.css' %}">

    <div class="topnav">
        <a class="active" style="background-color:red" href="{% url 'smg:index' %}"> Return </a>
        <a href="{% url 'smg:aboutme' %} " target="_blank">About</a>
        <a href="{% url 'smg:createroom' %} "> Create Room </a>
        <a class="active" href="{% url 'users:logout' %}" , style="float: right;">Logout</a>
    </div>
</head>

<body style="background-color:#212121">

    <div
        style="padding: 10px 10px 10px 10px; background-color: #535353; float:left; margin-left: 50px; margin-right: 50px; left:0;">
        <h1 style="color:white; float:right; text-align:left;"> Room ID : {{room_name}} </h1>
        <br>
        <h1 style="color:white; float:left; text-align:left;" id="score">Score : 0</h1>
    </div>

    <div
        style="padding: 10px 10px 10px 10px; background-color: #535353; float:left; margin-left: 50px; margin-right: 50px; position:fixed; bottom:3vw; left:0;">
        <h1 style="color:white; float:center; text-align:center;"> Sound Settings </h1> <br>
        <span style="opacity:0;">Thish</span>
        <input style="float:center;" id="vol-control" type="range" min="0" max="100" step="1" oninput="SetVolume(this.value)"
            onchange="SetVolume(this.value)"></input>
    </div>

    <div class="centered">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55" style="margin-top:30px">
            <span class="login100-form-title"><b>
                    <h1 id="trackcount" style="font-size: 2vw;"></h1>
                </b> </span>

            <br>

            <span class="login100-form-title"><b>
                    <h1 id="song_" style="font-size: 2vw;"></h1>
                </b> </span>

            <br>

            <span class="login100-form-title"><b>
                    <h1 id="artist_" style="font-size: 1vw;"></h1>
                </b> </span>

            <br>

            <img id="img" alt="Trulli" width="300" height="300" class="center">

            <p>
                <audio id="myAudio">

                </audio>
            </p>

            <br> <br>

            <div class="wrap-input100 validate-input m-b-36">
                <input type="text" class="input100" id="answer" onblur="changeVal();"
                    placeholder="Guess song name here..." /> </input>
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <input class="login100-form-btn" id="Ready" type="button" value="Ready" style="display:block;">
            </div>
        </div>
    </div>

    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <div class="form-container" style="background-color:#535353">

            <h1 style="color:white; font-size: 20px"> Username : {{request.user.username}} </h1>

            <br>

            <textarea readonly style="resize:none; background-color: #b3b3b3; 
            font-family: Raleway-Medium; font-size: 16px; height:300px; width:300px;" id="chat-log"
                class="output100"></textarea>
            <br><br>

            <div class="wrap-input100 validate-input m-b-36">
                <input id="chat-message-input" class="input100" type="text" style="font-size: 16px">
                <span class=" focus-input100"></span>
            </div>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
    </div>

    <input id="chat-message-submit" type="button" hidden value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_username" }}

    <script>
        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        const songs = JSON.parse('{{songs|safe}}');
        console.log(songs);
        const artists = JSON.parse('{{artists|safe}}');
        console.log(artists);
        const images = JSON.parse('{{images|safe}}');
        console.log(images);
        const uris = JSON.parse('{{uris|safe}}');
        console.log(uris);
        const dbsong = JSON.parse('{{dbsong|safe}}');

        var countries = dbsong;
        autocomplete(document.getElementById("answer"), countries);

        var audio = document.getElementById("myAudio");
        var song = document.getElementById("song_");
        var artist = document.getElementById("artist_");
        var img = document.getElementById('img');
        var scoreOutput = document.getElementById('score');
        var NameValue = "";
        var i = 0;
        audio.volume = 0.2;
        var score_int = 0;
        score = 0;
        var answerInput = document.getElementById('answer');
        var trackcountOUTPUT = document.getElementById('trackcount');

        function SetVolume(val) {
            audio.volume = val / 100;
        }

        function useValue() {
            NameValue = answerInput.value;
            console.log(NameValue);
        }
        answerInput.onchange = useValue;
        answerInput.onblur = useValue;


        song.innerHTML = '???';
        artist.innerHTML = '???';
        img.src = "{%static 'images/Question.jpg'%}";
        audio.src = uris[i];
        audio.pause();

        function Question() {
            answerInput.value = "";
            if (i > (uris.length - 1)) { Ending(); }
            else {
                Trackcount();
                audio.pause();
                song.innerHTML = '???';
                artist.innerHTML = '???';
                img.src = "{%static 'images/Question.jpg'%}";
                audio.src = uris[i];
                audio.load();
                audio.play();
                setTimeout(Answer, 30000);
            }
        }

        function Answer() {
            audio.pause();
            Check_Answer();
            song.innerHTML = songs[i];
            artist.innerHTML = artists[i];
            img.src = images[i];
            audio.src = uris[i];
            audio.load();
            audio.play();
            i += 1;
            setTimeout(Question, 10000);
        }

        function Check_Answer() {
            NameValue = answerInput.value;
            console.log('Answer!!')
            console.log(NameValue)
            if (NameValue.toLowerCase() === songs[i].toLowerCase()) {
                score_int += 1;
                scoreOutput.innerHTML = "Score: " + score_int;
                console.log('Correct')
            }
        }
        function Ending() {
            console.log("ENDING")
            var message = user_username + " have " + score_int + " score!";
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': "System",
                'action': "chat",
            }));
        }

        function Trackcount() {
            trackcountOUTPUT.innerHTML = (i + 1) + "/" + uris.length;
        }

        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/smg/'
            + roomName
            + '/'
        );


        /*receive message from backend*/
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if ("ready" === data.action) {
                document.querySelector('#chat-log').value += ('System : ' + data.username + ' ' + data.message + '\n');

            }
            else if ("play" === data.action) {
                document.querySelector('#chat-log').value += ('System : ' + data.username + ' ' + data.message + '\n');
                document.querySelector('#chat-log').value += ('System : Game start ! ' + '\n');
                audio.play();
                Question();
            }

            else if ("chat" === data.action) {
                document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
            }
            else if ("chat" === data.action) {
                document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
            }


        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
                'action': "chat",
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#Ready').onclick = function (e) {
            document.getElementById("Ready").style.display = "none";
            const message = "";
            chatSocket.send(JSON.stringify({
                'username': user_username,
                'message': message,
                'action': "ready",
            }));
        };

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>
</body>

</html>