body{
    font-family: montserrat;
    background: linear-gradient(135deg,#053c9b,#03173d);
}

h1{ 
    padding: 20px 50px;
    color: white;
    left: 30%;
    size: 80%;
}
h3{
    color:palevioletred;
}

.SMQ{
    padding: 10px 10px 10px 20px;
    border-left: solid;
    border-left-color: white;
    border-left-width: thick;
    position:relative;
    margin-top: -20px;
    margin-left: 80px;
    background:rgba(0,0,0,30%);
}

.SMQhead{
    color:greenyellow;
}

h2{
    color:white;
    margin-left: 20px;
}

p{
    color:white;
}

.spotgame{
    padding: 10px 10px 10px 20px;
    border-left: solid;
    border-left-color: white;
    border-left-width: thick;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
    background:rgba(0,0,0,30%);
}

.sptgamecss{
    color:red;
}

.chonlasit{
    padding-top: 10px;
    margin-left: 20px;
    height: 450px;
    width: 300px;
    background: rgba(0,0,0,30%);
    border-radius: 10px;
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.weeraphat {
    padding-top: 10px;
    margin-top: -460px;
    margin-left: 330px;
    height: 500px;
    width: 300px;
    background: rgba(0,0,0,30%);
    border-radius: 10px;
    text-align: center;
}

.patompong {
    padding-top: 10px;
    margin-top: -510px;
    margin-left: 640px;
    height: 400px;
    width: 300px;
    background: rgba(0,0,0,30%);
    border-radius: 10px;
    text-align: center;
}

.raned {
    padding-top: 10px;
    margin-top: -410px;
    margin-left: 950px;
    height: 400px;
    width: 300px;
    background: rgba(0,0,0,30%);
    border-radius: 10px;
    text-align: center;
}

