<DOCTYPE! html>
<html>
    <head>
            <h1>About us</h1>
            <h2>What is Spotify Music Quiz?</h2>
            <p1>spotify music quiz is the game that's let everyone who love music and want to challenge, in this game will let you
                asking yourself that you can remember the song's name by collecting the score to measure your memory.</p1>
            
            <h3>What is Spotgame?</h3>
            <p2>Spotgame is the team that form by four college students. We(spotgame) are college students that keen to try something new,
                something that challenge our knowledge to the limit, with high potential we are going to make this game happen no matter how hard it is</p2>
            
            <h4>So let us introduce ourself</h4>
            <h5>Chonlasit Mooncorn 6110613020</h5>
            <p3>"no more real world,I'll reject body and release the soul to EORZEA"</p3>
            <p3>"リンクスタート !!"</p3>

            <h6>Weeraphat Leelawittayanon 6210612823 </h6>
            <p4>"I'll shirk ,especially this one. BOO BOO BOO BOO"</p4>

            <h7>Patompong Vanasantipong 6210612856 </h7>
            <p5>"I lost my life because of FFXIV, now let me farming for a sec." </p5>
    
            <h8>Raned Chuphueak 6210612864</h8>
            <p6>"I'm too old to play game. NO MORE GAME I'LL BE WORKING MAN"</p6>
    </head>
</html>