<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
{% load static %}
<html>


<head>
    <title>Enter Chat Room</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{%static 'login/images/icons/spotify-logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'login/css/main.css' %}">

</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-enter-room p-l-85 p-r-85 p-t-55 p-b-55">
                <span class="login100-form-title p-b-32"><b>
                        Please enter your room :
                    </b></span>

                <div class="wrap-input100 validate-input m-b-36">
                    <input class="input100" type="text" id="room-name-input">
                    <span class="focus-input100"></span>
                </div>
    
                <div class="room-container-login100-form-btn">
                    <button input class="login100-form-btn" type="submit" id="room-name-submit">
                        Enter
                    </button>
                </div>
                <br>
                <div style="text-align:center">
                    <span style="float:left;"><a href="{% url 'smg:aboutme' %}">About us</a></span>
                    <span style="float:right;"><a href="{% url 'users:logout' %}">Logout</a></span>
                </div>
                <script>
                    document.querySelector('#room-name-input').focus();
                    document.querySelector('#room-name-input').onkeyup = function (e) {
                        if (e.keyCode === 13) {  // enter, return
                            document.querySelector('#room-name-submit').click();
                        }
                    };

                    document.querySelector('#room-name-submit').onclick = function (e) {
                        var roomName = document.querySelector('#room-name-input').value;
                        window.location.pathname = '/smg/' +'(%3FP' + roomName + '%5cd+)/$';
                    };
                </script>
            </div>
        </div>
    </div>
</body>

</html>