body {
    font-family: montserrat;
    background: #121212;
}

h1 {
    padding: 20px 50px;
    color: white;
    left: 30%;
    size: 80%;
}

h3 {
    color: #1db954;
}

.SMQ {
    padding: 10px 10px 10px 20px;
    border-left: solid;
    border-left-color: white;
    border-left-width: thick;
    position: relative;
    margin-top: -20px;
    margin-left: 80px;
    background: #535353;
    padding-inline-end: 20px;
    writing-mode: horizontal-tb;
}

.SMQhead {
    color: #1db954;
}

h2 {
    color: white;
    margin-left: 20px;
}

p {
    color: white;
}

.spotgame {
    padding: 10px 10px 10px 20px;
    border-left: solid;
    border-left-color: white;
    border-left-width: thick;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
    background: #535353;
}

.sptgamecss {
    color: #1db954;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    background: #535353;
    box-shadow: 0 4px 8px 0 #121212;
    margin: 8px;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.aligncenter {
    text-align: center;
}